<div class="col-md-4" style="margin-left:20%">
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">PROVA FRONT | Login</h3>
  </div>
  <form class="form-horizontal" #form="ngForm" (ngSubmit)="login()" novalidate>
    <div class="alert alert-error" role="alert" *ngIf="message">
      <strong>Invalid email or password</strong>
    </div>
    <div class="box-body">
      <div [ngClass]="getFormGroupClass(email.invalid,email.dirty)">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" 
                 [(ngModel)]="user.email"
                 name="email"
                 class="form-control" 
                 id="inputEmail" 
                 #email="ngModel"
                 placeholder="Email"
                 email>
          <span class="help-block" *ngIf="email.invalid  && email.dirty">Email inválido </span>
        </div>
      </div>
      <div [ngClass]="getFormGroupClass(password.invalid,password.dirty)">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" 
                 [(ngModel)]="user.password"
                 name="password" 
                 class="form-control" 
                 id="inputPassword" 
                 placeholder="Password"
                 #password="ngModel" 
                 required>
          <span class="help-block" *ngIf="password.invalid && password.dirty">Password inválido</span>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" (click)="cancelLogin()" class="btn btn-default">Cancelar</button>
      <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Login</button>
    </div>
  </form>
</div>
</div>
