<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Versão</b> 1.0.0
  </div>
  <strong>Copyright &copy; 2019-2019 <a href="https://gitlab.com/leliomarinho/testebackfront">Lelio Marinho</a>.</strong>
  All rights
  reserved.
</footer>