<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>{{ message.text }}</strong>
</div>
<div class="row">
<div class="col-md-8">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Lista de Usuarios</h3>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th>Email</th>
        <th>Profile</th>
        <th style="width: 10px">&nbsp;</th>
        <th style="width: 10px">&nbsp;</th>
      </tr>
      <tr *ngFor="let user of listaUser">
        <td>{{user.email}}</td>
        <td>{{user.profile}}</td>
        <td><button class="btn btn-primary" (click)="editar(user.id)">Editar</button></td>
        <td><button class="btn btn-danger" (click)="delete(user.id)">Deletar</button></td>
      </tr>
    </table>
  </div>
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
      <li *ngFor="let p of pages; let i=index">
          <a [ngClass]="{'pagination-focus':i==page}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
      </li>
      <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
    </ul>
  </div>
</div>
</div>
</div>