<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>{{ message.text }}</strong>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Linhas</h3><br>
         <label>Busca: <input type="nome" [(ngModel)]="nome">
          <button class="btn btn-success" (click)="findByNome()">Buscar</button>
        </label>
        <td><button class="btn btn-primary" (click)="findByLinhas('O')">Ônibus</button></td>
        <td><button class="btn btn-danger" (click)="findByLinhas('L')">Lotação</button></td>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <!-- <th tyle="width: 10px"></th> -->
            <th>Codigo</th>
            <th>Nome</th>
            <th>Tipo</th>

          </tr>
          <tr *ngFor="let linhas of listaLinhas">
            <td>
              <div class="ngSelectionCell">
                  <input value={{linhas.id}} tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="row.selected" />
              </div>
            </td>
            <td>{{linhas.codigoId}}</td> 
            <td>{{linhas.nome}}</td>
            <td>{{linhas.tipo}}</td>
          </tr>
          <h5 class="box-title">* O = Ônibus - L = Lotação</h5>
        </table>

      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
          <li *ngFor="let p of pages; let i=index">
            <a [ngClass]="{'pagination-focus':i==page}" href="" (click)="setPage(i,$event)">{{i+1}}</a>
          </li>
          <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
