<div class="col-md-16" style="margin-left:0%">
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Novo Usuario</h3>
  </div>
  <form class="form-horizontal" #form="ngForm" (ngSubmit)="registrar()" novalidate>
    <div [ngClass]="classCss" role="alert" *ngIf="message">
      <strong>{{ message.text }}</strong>
    </div>

    <div class="box-body">

      <div [ngClass]="getFormGroupClass(nome.invalid,nome.dirty)">
        <label for="inputNome" class="col-sm-1 control-label">Nome</label>
        <div class="col-sm-10">
          <input type="nome" 
                  [(ngModel)]="cliente.nome"
                  name="nome"
                  class="form-control" 
                  id="inputNome" 
                  #nome="ngModel"
                  placeholder="Nome"
                  nome>
          <span class="help-block"></span>
        </div>
      </div>


      <div [ngClass]="getFormGroupClass(email.invalid,email.dirty)">
        <label for="inputEmail" class="col-sm-1 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" 
                  [(ngModel)]="cliente.email"
                  name="email"
                  class="form-control" 
                  id="inputEmail" 
                  #email="ngModel"
                  placeholder="Email"
                  email>
          <span class="help-block" *ngIf="email.invalid  && email.dirty">Email inválido </span>
        </div>
      </div>

       <div [ngClass]="getFormGroupClass(cpf.invalid,cpf.dirty)">
        <label for="inputCpf" class="col-sm-1 control-label">CPF</label>
        <div class="col-sm-10">
          <input type="cpf" 
                  [(ngModel)]="cliente.cpf"
                  name="cpf"
                  class="form-control" 
                  id="inputCpf" 
                  #cpf="ngModel"
                  placeholder="CPF"
                  cpf>
          <span class="help-block" *ngIf="cpf.invalid  && cpf.dirty">Cpf inválido </span>
        </div>
      </div>
          <app-linha-list></app-linha-list>
    </div>
    <div class="box-footer">
      <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Salvar</button>
    </div>
  </form>
</div>
</div>

