<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview" *ngIf="shared.user.profile == 'ADMIN'">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Usuarios</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/user-list']"><i class="fa fa-circle-o"></i> Listar usuarios</a></li>
          <li><a [routerLink]="['/user-new']"><i class="fa fa-circle-o"></i> Novo Usuario</a></li>
        </ul>
      </li>

        <li class="treeview" *ngIf="shared.user.profile == 'ADMIN'">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Clientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/cliente-list']"><i class="fa fa-circle-o"></i> Listar Clientes</a></li>
            <li><a [routerLink]="['/cliente-new']"><i class="fa fa-circle-o"></i> Novo Cliente</a></li>
          </ul>
        </li>
      
    </ul>
  </section>
</aside>