<div class="container">

  <div class="row">

    <div class="col-md-6 col-sm-12 col-xs-12">
      <form class="form-inline" #form="ngForm">

      </form>
    </div>

  </div>

  <br>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <label>Selecione o Tipo de Condução</label><br>
    <button type="button" (click)="getRestLinhas('O')" class="btn btn-danger">Ônibus</button>
    <button type="button" (click)="getRestLinhas('L')" class="btn btn-warning">Lotação</button>

  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <label>Selecione a Linha</label>
    <select [(ngModel)]="codigolinha">
      <option *ngFor="let linhas of listaLinhas" [value]="linhas.id">{{linhas.nome}}</option>

    </select><br>
    <button type="button" (click)="getRestItinerarios()" class="btn btn-primary">Desenhar Rota</button>
    <button (click)="LimparMapa()" class="btn btn-warning">Limpar Mapa</button>
  </div>

  <div class="row">
    

  </div>
  <br>
  <div class="row" >
    <div class="col-md-12">
      <div class="text-center">
        <h3>
          <div #gmap style="width:100%;height:400px" ></div>
        </h3>
      </div>
    </div>
  </div>

  <footer>

  </footer>

</div>
