<!-- <div class="container">

  <div class="row">

    <div class="col-md-6 col-sm-12 col-xs-12">
      <form class="form-inline" #form="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude"
            required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude"
            required>
        </div>
        <button type="button" (click)="setCenter()" class="btn btn-primary" [disabled]="form.invalid"> Buscar</button>

        <button type="button" (click)="DesenharMapa()" class="btn btn-primary"> Desenhar Mapa</button>




      </form>
    </div>

  </div>

  <br>

  <div class="row">
    <button (click)="setMapType('terrain')" class="btn btn-primary">Terreno</button>
    <button (click)="setMapType('satellite')" class="btn btn-danger">Satelite</button>
    <button (click)="setMapType('roadmap')" class="btn btn-warning">Roteiro</button>
    <button (click)="LimparMapa()" class="btn btn-warning">Limpar</button>
    <button (click)="IniciarMapa()" class="btn btn-warning">Iniciar Mapa</button>


    <button type="button" (click)="toggleMap()" class="btn btn-primary">Habilitar Mapa</button>

  </div>
  <br>
 
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h3>
          <div #gmap style="width:100%;height:400px"></div>
        </h3>
      </div>
    </div>
  </div>


</div> -->