<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>{{ message.text }}</strong>
</div>
<div class="row">
  <div class="col-md-16">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Lista de Clientes</h3>
        <br><br>
        <label>Busca: <input type="nome" [(ngModel)]="nome">
          <button class="btn btn-success" (click)="findByNome()">Buscar</button>
        </label>

      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Cpf</th>
            <th>Linha(s)</th>
            <th style="width: 100px">&nbsp;</th>
            <th style="width: 100px">&nbsp;</th>
            <th style="width: 100px">&nbsp;</th>


          </tr>
          <tr *ngFor="let cliente of listaCliente">
            <td>{{cliente.nome}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.cpf}}</td>
            <td>
              <select class="form-control" [(ngModel)]="IdLinha">
                <option *ngFor="let linhas of cliente.linha" value={{linhas.id}}> {{linhas.nome}}

                </option>
              </select>
            </td>
            <td><button class="btn btn-primary" (click)="editar(cliente.id)">Editar</button></td>
            <td><button class="btn btn-danger" (click)="delete(cliente.id)">Deletar</button></td>
            <td><button class="btn btn-success" (click)="editar(user.id)">Mapa</button></td>

          </tr>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
          <li *ngFor="let p of pages; let i=index">
            <a [ngClass]="{'pagination-focus':i==page}" href="" (click)="setPage(i,$event)">{{i+1}}</a>
          </li>
          <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!-- <MapsListComponent></MapsListComponent> -->
  </div>
</div>